{% extends 'base.html.twig' %}

{% block body %}
            <section>
                <article>
                    <h3>Er zijn {{ medicijnen|length }} medicijnen</h3>
                    <table class="table">
                        <thead>
                            <tbody>
                            <tr>
                                <td> naam </td>
                                <td> werking </td>
                                <td> bijwerking </td>
                                <td> Verzekerd </td>
                            </tr>
                        </tbody>
                    {% for medicijn in medicijnen %}
                        <tr>
                            <td> {{medicijn.naam }} </td>
                            <td> {{medicijn.type }} </td>
                            <td> {{medicijn.bijwerking }} </td>
                            <td> {{medicijn.verzekerd }} </td>
                            <td><button type="button" class="btn btn-danger">bewerken</button></td>
                            <td><button type="button" class="btn btn-danger">Verwijderen</button></td>
                        </tr>
                    {% endfor %}
                            </table>
                    <button class="btn btn-danger" href="{{ path('medicijn_new') }}">Toevoegen</button>
                        </article>
                    </section>
{% endblock %}