{% extends 'base.html.twig' %}

{% block body %}
    {% for msg in app.session.flashBag.get('succes') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
    <section>
        <article>
            <h3>Er zijn {{ recepten|length }} recepten</h3>
            <table class="table">
                <thead>
                <tbody>
                <tr>
                    <td> patient </td>
                    <td> medicijn </td>
                    <td> datum </td>
                    <td> periode </td>
                </tr>
                </tbody>
                {% for recept in recepten %}
                    <tr>
                        <td> {{recept.patient }} </td>
                        <td> {{recept.medicijn }} </td>
                        <td> {{recept.datum }} </td>
                        <td> {{recept.periode }} </td>
                        <td><a href="{{ path('arts_recept_edit', {
                                id: recept.id
                            }) }}">
                                <button class="btn btn-danger">Bewerken</button>
                            </a></td>
                        <td><a href="{{ path('arts_recept_delete', {
                                id: recept.id
                            }) }}">
                                <button class="btn btn-danger">Verwijderen</button>
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path('app_arts_newrecept') }}">
                <button class="btn btn-danger">Toevoegen</button>
            </a>
        </article>
    </section>
{% endblock %}