{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('admin_home') }}">Healthone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('admin_medicijnen') }}">Medicijnen</a>
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('app_admin_recepten') }}">Recepten</a>
        <a style="margin-left: 75px;" class="navbar-brand space-brand" href="{{ path('admin_patienten') }}">Patienten</a>
    </nav>
    <section>
        <article>
            <h3>Er zijn {{ patienten|length }} patienten</h3>
            <table class="table">
                <thead>
                <tbody>
                <tr>
                    <td> naam </td>
                    <td> adress </td>
                    <td> postcode </td>
                    <td> woonplaats </td>
                </tr>
                </tbody>
                {% for patient in patienten %}
                    <tr>
                        <td> {{patient.naam }} </td>
                        <td> {{patient.adress }} </td>
                        <td> {{patient.postcode }} </td>
                        <td> {{patient.woonplaats }} </td>
                        <td><a href="{{ path('admin_patient_edit', {
                                id: patient.id
                            }) }}">
                                <button class="btn btn-danger">Bewerken</button>
                            </a></td>
                        <td><a href="{{ path('admin_delete_patient', {
                                id: patient.id
                            }) }}">
                                <button class="btn btn-danger">Verwijderen</button>
                            </a></td>
                    </tr>
                {% endfor %}
            </table>
            <a href="{{ path('app_admin_newpatient') }}">
                <button class="btn btn-danger">Toevoegen</button>
            </a>
        </article>
    </section>
{% endblock %}